{% if is_granted('ROLE_USUARI') %} 


	<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user }} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('usuari_llista') }}">{{ "Llista usuaris" }}</a></li>
        <li><a href="{{ path('usuari_torneig') }}">{{ "Tornejos" }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('usuari_logout') }}">{{ "Tancar sessió" }}</a></li>
   
      </ul>
    </li>
</ul>


{% else %}


<form class="navbar-form navbar-right" role="search" action="{{ path('usuari_login_check') }}" method="post">
    <div class="form-group">
        <input id="login_user" type="text" class="form-control" name="_username" placeholder="Username" value="{{ last_username }}">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="_password" placeholder="Password" id="login_pass">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
    <a href="{{ path('usuari_registre') }}">{{ "Registrat" }}</a>
</form>
{% endif %}


