{% extends '::base.html.twig' %}

{% block stylesheets %}
            
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet"> 
        <link href="{{ asset('css/comu.css') }}" rel="stylesheet"> 
  

{% endblock %}

{% block javascripts %}

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
   <script type="text/javascript" src="{{ asset('js/docs.min.js') }}"></script>

{% endblock %}

{% block body %}
<div class="container marketing">
  <div class="row">

  

  {% block article %}
    <article id="article">
      <section>
        
      </section>
    </article>
  {% endblock %}
  
  

  {% block aside %}
  <aside>
    <section>        
      
    </section>
  </aside>
  {% endblock %}

</div>
</div>
{% endblock %}
